@import "base/colores";
@import "base/medidas";
@import "base/colecciones";
@import "base/accesorios";
@import "base/responsive";

/* logo pagina */

.logoPagina{
    display: inline;
    img{
        width: 50px;
        height: 50px;
        margin: 20px 20px 20px 20px;
    }
}

/* Titulos */

.tituloPrincipal{
    color:rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.tituloPrincipal:hover{
    transform: scale(1.5,1.5);
    transition: 2s;
}

/* Carousel */


/* Fondo */

body{
    background: rgb(186,186,186);
    background: -moz-radial-gradient(circle, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 100%);
    background: radial-gradient(circle, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bababa",endColorstr="#ffffff",GradientType=1);
    font-family: 'Nanum Gothic', sans-serif;
}



/* Productos de colecciones */

#products{
    display: flex;
    justify-content: center;
    h1, h2{
        text-align: center;
        padding: 10px;
    }
}

.producto{
    display: flex;
    border: $negro 1px solid;
    margin: 10px;
    background-color: $blanco;
    .producto__imagen{
        width: 10em;
        height: 15em;
    }
    .producto__descripcion{
        color: $negro;
        .producto__titulo{
            font: bold;
            margin: 2px;
        }
        .producto__detalle{
            font-style: italic;
        }
        .producto--boton{
            background-color: $azul;
            color: $blanco;
        }
    }
}


/* Medios de pago */

#mediosDePago{
    margin: 10px;
    h3{
        text-align: center;
    }
    div{
        display: flex;
        justify-content: center;
        align-content: center;
        img{
            flex-direction: row;
            width: 60px;
            height: $alto/8;
            margin: 10px;
        }
    }
}

#mediosDePago div img:hover{
    transform: translateX(30px);
    transition: 2s;
}

/* Tabla de Talles */

#tablaDeTalles{
    text-align: center;
    caption{
        text-align: center;
    }
    border: $gris solid 1px;
    margin: 20px;
    background-color: $blanco;
    margin-left: auto;
    margin-right: auto;
}

#tablaDeTalles caption, thead, tbody{
    color: $negro;
    border: 1px solid $negro;
    font: bold;
    background-color: $blanco;
}


/* Formulario */

#formularioDeContacto{
    background-color: #ccc;
    font-style: normal;
}
/* Pie de pagina */

.pieDePagina{
    font-size: 1.2em;
    background-color: $gris;
    text-align: center;
    word-spacing: 3px;
    margin-top: 20px;
    a{
        color: white;
        padding: 20px;
    }
}

/* Grilla Sucursales */

.tituloSucursales{
    text-align: center;
}

.gridSucursales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    .itemSucursal {
        text-align: center;
        width: $ancho*8;
        height: $alto/2;
        $estacion: invierno;
        @if $estacion == invierno {
            color: $azulOscuro;
        } 
        @else if $estacion == primavera {
            color: $verde;
        } 
        @else if $estacion == verano {
            color: $naranja;
        }
        @else if $estacion == otoño {
            color: $gris;
        } 
        @else {
            color: $negro;
        }
    }
}



/* Trabaja con Nosotros */

.enviaTuCV{
    img{
    width: 100%;
    height: auto;
    }
}

#formularioCV{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Nuestras Redes */

.redesSociales{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.redesSociales:hover{
    transform:scale(1.5,1.5);
    transition: 2s;
}

/* Bucle y Contacto */

@for $i from 1 through 3 {
    .tamano#{$i}{
        font-size: $i * 0.6rem;
    }
}


.contacto{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}