/* Colecciones */

#colecciones{
    text-align: center;
    line-height: 25px;
}

#colecciones h2{
    color: $negro;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
}

#colecciones div p{
    color: $gris;
    font-style: italic;
}

#colecciones div a{
    color: $negro;
    font-size: 1.5em;
    font-style: italic;
}

#colecciones div a:hover{
    color: $blanco;
    background-color: $negro;
    transition: 1s;
}

#colecciones div iframe{
    margin-bottom: 20px;
}