/* Responsive */
/* Mobile */
@media only screen and (max-width: 414px){

}

/* Tablet */
@media only screen and (min-width: 415px) and (max-width: 768px){
/* #colecciones div iframe{
    width: 600px;
    height: 400px; */

#accesoriosImagenes div img{
    width: 8em;
    height: 10em;
}
}


/* Desktop */
@media only screen and (min-width: 769px){
/* #colecciones div iframe{
    width: 600px;
    height: 400px;
 */

#accesoriosImagenes div img{
    width: 12em;
    height: 15em;
}
.tituloPrincipal{
    font-size: 3em;
}
}
